* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background: linear-gradient(to bottom, rgba(255,255,229,1) 0%, rgba(74,122,72,1) 90%, rgba(74,122,72,1) 100%);
}